{% load static %}
{% load permission_tags %}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard'%}">
        <div class="sidebar-brand-icon">
            <div class="contaiter-fluid">
                <img src="{% static 'img/logo/TF_Logo_TR_real.png' %}">
            </div>
            
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link text-center pr-2" href="{% url 'dashboard'%}">
            <span>Matematik Öğretmeni</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseApply"
            aria-expanded="true" aria-controls="collapseApply">
            <i class="fa fa-tasks"></i>
            <span>Otomasyon</span>
        </a>
        <div id="collapseApply" class="collapse" aria-labelledby="headingApply"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% if request.user.profile|student_permitted %}
                <h6 class="collapse-header">Kurs</h6>
               
                <a class="collapse-item" href="#">Eğitim Sürecim</a>
                <a class="collapse-item" href="#">Öğretmenlerim</a>
               
                {% elif request.user.profile|teacher_permitted %}
                <h6 class="collapse-header">Derslerim</h6>
                <h6 class="collapse-header">Öğrencilerim</h6>
               
                {% elif request.user.profile|admin_permitted %}
                <h6 class="collapse-header">Dersler</h6>
                {% endif %}
                           
            </div>
        </div>
    </li>
  
</ul>